{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ path('jobset_create') }}">Create</a>
    <ul>
    {% for jobset in jobsets %}
        <li>
            <a href="{{ path('jobset', { 'jobset_id': jobset.getId() }) }}">{{ jobset.getFile() }}</a>
            ({% for spec in jobset.getSpecifications() %} {{ spec.getName() }} {% endfor %})
            <a href="{{ path('jobset_delete_confirm', { 'jobset_id': jobset.getId() }) }}">
                <i class="icon-remove"></i>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
