{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ 'Create a jobset'|trans }}</h1>

    <form action="" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">

        {{ form_row(form.file )}}

        <h3>Specifications</h3>
        <ul class="specifications" data-prototype="{{ form_widget(form.specifications.vars.prototype) | e }}">
            {% for specification in form.specifications %}
                <li>{{ form_row(specification.name) }}</li>
            {% endfor %}
        </ul>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script>

        $(document).ready(function() {
            var collectionHolder = $('ul.specifications');

            // setup an "add a tag" link
            var $addTagLink = $('<a href="#" class="add_specification_link">Add a specification</a>');
            var $newLinkLi = $('<li></li>').append($addTagLink);

            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.append($newLinkLi);


            function addTagForm(collectionHolder, $newLinkLi) {
                // Get the data-prototype we explained earlier
                var prototype = collectionHolder.attr('data-prototype');
                console.log(collectionHolder, prototype);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on the current collection's length.
                var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }


            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}
