<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ 'Homepage' }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <script src="{{ app.request.basepath }}/assets/js/modernizr.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    {% set active = active|default(null) %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('homepage') }}">{{ 'Silex Kitchen Sink Edition' }}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li {% if 'homepage' == active %}class="active"{% endif %}><a href="{{ path('homepage') }}">{{ 'Homepage' }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account <b class="caret"></b>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div id="main" role="main" class="container">
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% if app.session.hasFlash(alert) %}
                        <div class="alert alert-{{ alert }}" >
                            <button class="close" data-dismiss="alert">×</button>
                            {{ app.session.flash(alert) }}
                        </div>
                {% endif %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ app.request.basepath }}/assets/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/assets/js/bootstrap.js"></script>
</body>
</html>
